*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.main{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('background.jpg');
    background-size: cover;
}

.logo{
    font-weight: bold;
    font-size: 50px;
    justify-content: center;
    display: flex;
    -webkit-text-fill-color:burlywood;
    -webkit-text-stroke: 2px black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar h1{
    text-align: center;
    font-size: 45px;
    -webkit-text-fill-color:burlywood;
    -webkit-text-stroke: 2px black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    padding: 40px 0;
}

.fotoy{
    display: flex;
    justify-content: center;
}

.foto{
    border: 3px solid black;
    border-radius: 20px;
}

.nama{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.nama h1 a{
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px black;
    cursor: pointer;
}

@media(max-width: 768px){
    .logo{
    font-size:45px;
    }
    .foto{
        height: 180px;
    }
}

@media (max-width: 368x){
    
    .logo{
        font-size: 20px;
    }
    .foto{
        height: 180px;
    }
}